# Backend-specific ignores
/src/backend/node_modules
/src/backend/.pnp
/src/backend/.pnp.js
/src/backend/coverage
/src/backend/.env
/src/backend/npm-debug.log*
/src/backend/yarn-debug.log*
/src/backend/yarn-error.log*

# Frontend-specific ignores
/src/frontend/node_modules
/src/frontend/.pnp
/src/frontend/.pnp.js
/src/frontend/coverage
/src/frontend/build
/src/frontend/.DS_Store
/src/frontend/.env.local
/src/frontend/.env.development.local
/src/frontend/.env.test.local
/src/frontend/.env.production.local
/src/frontend/npm-debug.log*
/src/frontend/yarn-debug.log*
/src/frontend/yarn-error.log*

.github-runner/

# General ignores
.DS_Store
.env
**/node_modules/